---
import { Image } from "astro:assets";
import LogoImage from "../../assets/images/logo.png";
import config from "@config/config.json";
const {
  title,
}: {
  title: string;
} = config.site;

const WIDTH = 140;
const HEIGHT = 40;
---

<a href="/" class="mb-4 md:mb-0">
  <Image
    width={WIDTH * 2}
    height={HEIGHT * 2}
    src={LogoImage}
    alt={title}
    style={{
      height: HEIGHT + "px",
      width: WIDTH + "px",
    }}
    format={"webp"}
    quality={90}
  />
</a>
